@model Work_Intergrated_Learning.Models.Jobs

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>


<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label"></label>
                <textarea asp-for="JobDescription" class="form-control"></textarea>
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobRoleNResponsibilities" class="control-label"></label>
                <textarea asp-for="JobRoleNResponsibilities" class="form-control"></textarea>
                <span asp-validation-for="JobRoleNResponsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <select asp-for="FacultyId" asp-items="@ViewBag.FacultyId" class="form-control">
                    <option value="0">Select Faculty </option>
                </select>
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
